.header-text, .about-text {
    color: white;
}

.btn {
    margin-top: auto;
}

.icon {
    max-height: 50px;
}

html {
	height:100vh;
}

body {
	
	height:100vh;
}

.background-gradient
{
    background: linear-gradient(to bottom, rgb(30, 30, 30), black);
}